// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Define your color scheme
$first-blue: #3E92CC;
$second-blue: #2A628F;
$third-blue: #18435A;
$strong-blue: #13293D;
