<div class="container p-3">
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i5.walmartimages.com/asr/567e5341-8779-48fa-9b31-6e8d585e23c0.30dc5d966dae9c6df0bcc02864275f29.jpeg);">
   <div class="d-flex justify-content-between">
    <h1>My Socks</h1>
    <div class="btn btn-outline-secondary"><%= link_to "Proposez une Chaussette", new_sock_path %></div>
  </div>
  </div>


  </div>
</div>
