<%= render "shared/navbar" %>
 <%# label: "Titre", label_html: { class: "btn btn-primary "}, input_html: { class: "btn" }, wrapper_html: { class: "btn btn-primary "}  %>
<div class="container p-3">
  <h1>Nouvelle chaussette :</h1>
  <br>
  <%= render "form", sock: @sock %>
<br>
<%= link_to "Retour à la page d'accueil", socks_path %>
</div>
