<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo_3.svg" %>
    <% end %>
    <button class="btn btn-outline-secondary"><%= link_to "Login", new_user_session_path %></button>
  </div>
</div>
