<div class="container">
  <div class="row">
    <div class="col">
      <h1>Faire une demande de réservation</h1>

      <!-- Faie avec une card résumée de la sock -->

      <%= render "request_form" %>


    </div>
  </div>
</div>
