<%= render "shared/navbar" %>
<div class="container p-3">
  <h1>Modifier la requête :</h1>
  <br>
  <%= render "request_form", sock: @sock, request: @request  %>
<br>
<%= link_to "Retour à la page d'accueil", socks_path %>
</div>
