<%= render "shared/navbar" %>
<div class="container">
  <% if @owner_requests.any? %>
    <div class="owner-actions">
      <h1>Mes demandes reçues</h1>
      <div class="requests-container">
        <%= render 'card_request', requests: @owner_requests%>
      </div>
    </div>
  <% end %>

  <div class="flex-fill">
  <h1>Mes demandes envoyées</h1>
  <div class="requests-container">
    <%= render 'card_request', sock: @sock, requests: @requests%>
  </div>
</div>
