.navbar-lewagon {
  display: flex;
  align-items: center;
  background: white;
  padding: 1rem 1rem;
  margin-bottom: -1rem;
  display: block;
  }

  .navbar-lewagon .navbar-brand img {
    width: 100px;
  }

 .nav-item {
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  &:hover {
    color: $first-blue;
  }
}
