.navbar-lewagon {
  display: flex;
  align-items: center;
  background: white;
  padding: 1rem 1rem;
  margin-bottom: -1rem;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbarSupportedContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
