.navbar-lewagon {
  display: flex;
  align-items: center;
  background: white;
  padding: 1rem 1rem;
  margin-bottom: -1rem;
}

.navbarSupportedContent {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.avatar {
  width: 20;
  height: 20;
  border-radius: 50%;
  margin-right: 1rem;
 }
