
.card-request {
  overflow: hidden;
  height: auto;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  text-decoration: none;
}

.card-request img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-request h2 {
  margin: 0;
}

.card-request p {
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-request .card-request-infos {
  padding: 16px;
}

.requests-container a {
  text-decoration: none;
  color: black
}
